body {
  font-family: "Open Sans", sans-serif; }

h1 {
  font-family: "Lobster", cursive; 
  font-size: 50px; }

h2, h3 {
  font-family: "Lobster", cursive;
}

h2 {
  color: black; 
  font-size: 30px;}

header h2 {
  color: black; }

.site-footer {
  background-image: linear-gradient(white);
  padding: 20px 0px; }

.jumbotron {
  margin: 0;
  padding: 60px;
  background-image: url(../img/coffeecup.jpg); 
  background-size: cover;
  background-position: center;}

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px; }

.navbar {
  background-color: white;
  color: black; 
  font-size: 20px;}

.tab-content {
  border: 1px solid #DDD;
  border-top: none;
  padding: 10px; }

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5); }

.carousel {
  border: solid white; }

#carouselButton {
  position: absolute;
  right: 0;
  bottom: 0; }

#reserveModal .modal-header {
  background-color: #17A2B8;
  color: white; }

#loginModal .modal-header {
  background-color: #901CAD;
  color: white; }

#border-menu {
  border-width: medium;
  border-color: black;
}
thead {
  font-family: "Lobster", cursive;
  font-size: 25px;
}

#map {
  height: 300px;
  width: 50%;
}